# Java
*.class
.classpath
.project

.idea
.metadata
.settings

target
**/build/classes
**/WEB-INF/lib


# Python
__pycache__



# C and C++
*.o
*.a
*.so
*.bin



# Visula Studio
*.filters
*.user
*.suo
*.sdf

.vs

.vscode
Debug
Release
bin



# Test
*.log
*.me.bat
*.me.sh
ZZZTempZZZ



